
body{
    margin:0;
    padding:0;
    
}

.navbar{
    background-color: white;
    box-shadow:2px;
}

#headertitle{
    text-decoration: none;
    color:black;
    font-family:'Libre Baskerville', sans-serif;
}
header{
    padding:5px;
    margin-top:2rem;
    margin-left:8rem;
}


nav{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.3);
}

nav span{
    float:right;

}

  #gender{
      padding:0 0 20rem 0;
  }

  @media (min-width: 400px) {
    left: 50px;
  }

  @media (min-width: 600px) {
    left: 100px;
  }

  .banner{
      padding: 100px 0px;

  }

  .jumbotron{
      background-image: url("/img/jumbotron.jpg");
      background-size:cover;
      background-position:center;
  }

.fadeInRight{
    animation:fadeInRight 2s;
}


@keyframes fadeInRight {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.fadeInUp{
    animation:fadeInUp 3s;
    margin-top:200px;
}

@keyframes fadeInUp{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.card:hover{
    content:"Weight Loss Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt";
    color:white;
    opacity:50;
    background-color:black;
    z-index:1;
}